<?xml version="1.0" encoding="utf-8"?>
<!-- GalgameShell: debug-only overrides. Export XServerDisplayActivity so adb am start
     can launch it directly for launch-pipeline diagnosis. Never in release builds. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity
            android:name="com.winlator.XServerDisplayActivity"
            android:exported="true"
            tools:node="merge"
            tools:replace="android:exported" />
    </application>
</manifest>
